# temp files
*~

# Submodules' build
**/build/
**/out/

# Gradle's plugins
master/buildSrc/build/
master/buildSrc/.gradle/
master/.gradle/
.gradle/

# Maven
**/target/

# Eclipse
**/bin/
.settings/
.project
.classpath

# Idea
**/.idea/
**/*.iml
*.ipr
*.iws

# reserve
**/out/
